export FULL_NODE_URL=wss://mainnet.infura.io/ws/v3/YOUR-PROJECT-ID
export CMC_API_KEY=YOUR-CMC-API-KEY
export ETHERSCAN_API_KEY=YOUR-ETHERSCAN-API-KEY
export REDIS_URL="redis://localhost:6379"
export DATA_DIR="/tmp/carbonbot_data"
export DEST_DIR="/tmp/carbonbot/misc"
